body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    padding: 20px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    width: 100%; /* 전체 폭 사용 */
    box-sizing: border-box; /* padding과 border를 width에 포함시킵니다 */
    margin-bottom: 100px;
  }

.search-container input[type="text"] {
    width: 400px;
    padding: 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container input[type="submit"] {
    padding: 15px 30px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.game-name {
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px; /* 조정 필요 */
}

.evaluation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    max-width: 1000px;
}

.evaluation-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 200px;
    margin: 10px;
    min-width: 200px;
}

.evaluation-container .review {
    width: 100%;
    height: 200px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    resize: none;
}

.evaluation-container .score {
    width: 70px;
    height: 70px;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.evaluation-container .new-row {
    flex-basis: 100%;
    height: 0;
}

label {
    font-size: 20px;
    margin-bottom: 10px;
}
